table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #f2f2f2;
  border-radius: 5px 5px 0 0;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #34608d;
  color: white;
  padding: 15px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
th:first-child {
  border-top-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
}
.bold-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #000000;
  transition: color 0.3s ease;
}

.checkbox-animation
{
  transition: transform 0.3s ease;
}

.checkbox-animation:hover
{
  transform: scale(1.5);
}

.bold-text:hover {
  color: #2973b0;
}

tr {
  text-decoration-color: #333333;
  transition: background-color 0.3s;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.completed td {
  text-decoration: line-through;
  color: #888;
}

input[type="checkbox"] {
  transform: scale(1.3);
  cursor: pointer;
}

span {
  cursor: pointer;
  font-size: 20px;

}
.trash-icon {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease;
}

.trash-icon:hover {
  transform: scale(1.1);
}
.trash-icon:active {
  transform: scale(0.9);
}

td {
  text-align: center;
}
