<div class="container">
  <h1>Todos</h1>
  <app-todo-table (deleted)="deleteTodo($event)" (changed)="setTodoCompletedState($event)" [todos]="allTodos"></app-todo-table>

  <form (submit)="addTodo()">
    <input [(ngModel)]="newTodoTask" placeholder="Enter a task" type="text" name="newTodoTask">
    <input [(ngModel)]="newTodoDate" name="newTodoDueDate" type="date">
    <input [(ngModel)]="newTodoPriority" name="newTodoPriority" type="number" placeholder="Enter priority number">
    <button>Add</button>

  </form>

</div>
